h1 {
    text-align: center;
}

#main {
    height: 80%;
    width: 80%;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    height: 80%;
    
    width: 100%;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
    font-size: 40px;
    padding: 0;

    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    margin: 10px;
    height: 90%;
    overflow-y: scroll;
}

#input {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

#input > * {
    height: 20px;
    border: 1px solid black;
}

#item {
    width: 75%;
    padding: 10px;
    font-size: 20px;
}

#item:hover {
    background-color: rgb(221, 221, 221);
}

#submit {
    width: 15%;
    height: 20px;
    font-size: 20px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#submit:hover {
    cursor: pointer;
}

